.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  &::before {
    z-index: -1;
    content: '';
    position: absolute;
    width: 31.875rem;
    height: 63.625rem;
    border-radius: 15.9375rem;
    background: $gradient;

    @include breakpoint-down(medium) {
      left: -20.125rem;
      top: -31.8125rem;
    }
    @include breakpoint-up(large) {
      left: -5.625rem;
      top: -19.875rem;
    }
  }
  
  &::after {
    z-index: -1;
    content: '';
    background: $gradient;
    position: absolute;
    width: 31.875rem;
    height: 63.625rem;
    opacity: 0.03;
    transform: matrix(1, 0, 0, -1, 0, 0);
    border-radius: 15.9375rem;
    @include breakpoint-down(medium) {
      left: 11.75rem;
      top: 26.6875rem;
    }
    
    @include breakpoint-up(large) {
      left: 69.6875rem;
      top: 7.4375rem;
    }
  }
}