.mobile {
  position: relative;
  width: 15.4375rem;
  height: 30.5625rem;
  background-color: $white;
  margin-top: 4rem;
  margin-left: 4rem;
  border-radius: 1.875rem;
  padding: 0.59375rem 0.6875rem;
  box-shadow: 0rem 1.875rem 3.75rem -0.625rem rgba(62, 39, 83, 0.251202);
  &__wrapper {
    position: relative;
    height:100%;
    background-color: $lightGrayishViolet;
    border-radius: 1.25rem;
    padding: 0px 7.5px;
    &-type-message {
      display: flex;
      align-items: center;
      transform: translateY(77px);
      background-color: $white;
      height: 34px;
      border-radius: 17px;
      padding: 5px;
      p {
        font-size: 9px;
        padding: 5px 0px 4px 15px;
        color: $darkGrayishViolet;
      }
      &::after {
        content: url('/images/arrow-right.svg');
        display: flex;
        align-items: center;
        justify-content: center;
        height: 25px;
        width: 25px;
        border-radius: 50%;
        background-color: $veryDarkDesaturatedViolet;
        margin-left: auto;
      }
    }
    &-message {
      position: relative;
      transform: translateY(77px);
      border-radius: 10px 10px 10px 4px;
      max-width: 128px;
      width: max-content;
      p {
        font-size: 8px;
        padding: 6px 8px;
        text-align: left;
      }
      &__option {
        max-width: 160px;
        width: 160px;
        height: 32px;
        padding: 10px 16px 10px 8px;
        background: linear-gradient(to right bottom,$lightMagenta, $lightViolet);
        color: $white;
        box-shadow: 0px 10px 5px -5px rgba(62, 39, 83, 0.045318);
        span {
          font-size: 12px;
          font-weight: 700;
          margin-left: auto;
        }
        &::before {
          width: 12px;
          height: 12px;
          border: 1px solid $veryLightMagenta;
          border-radius: 50%;
          content: '';
        }
      }
      &__to {
        background: #EEE5F4;
        color: $moderateViolet;
      }
      &__from {
        border-radius: 10px 10px 4px 10px;
        background: $white;
        color: $desaturatedDarkViolet;
        margin-left: auto;
        &__images {
          background: none;
          &-message {
            width: 40px;
            height: 40px;
            border-radius: 10px;
          } 
        }
      }
    }
    &::before {
      content: '';
      border-radius: 1.25rem 1.25rem 0.375rem 0.375rem;
        position: absolute;
      height: 4.125rem;
      width: 100%;
      background-color: $white;
      background: $gradient;
      left: 0px;
    }
    &::after {
      content: '';
      border-bottom-left-radius: 0.875rem;
      border-bottom-right-radius: 0.875rem;
      position: absolute;
      height: 1.8125rem;
      width: 8.0625rem;
      background-color: $white;
      left: 50%;
      top: -0.6rem;
      transform: translateX(-50%);
    }
  }

  &__header {
    position: absolute;
    margin: 30px 16.5px 12px 8px;
    width: 196px;
    height: 24px;
    &-user {
      width: 24px;
      height: 24px;
      border-radius: 50%;
      border: 1px solid white;
      margin: 0px 8px;
    }

    h1 {
      font-size: 11px;
      font-weight: 100;
      line-height: 15px;
      color: white;
    }
    h2 {
      font-size: 8px;
      font-weight: 400;
      line-height: 9px;
      color: $paleViolet;
      margin-right: auto;
    }
  }
}